@keyframes slide-down {
   from {
      transform: translateY(-100%);
   }
   to {
      transform: translateY(0%);
   }
}

@keyframes slide-left {
   from {
      transform: translateX(100%);
   }
   to {
      transform: translateX(0%);
   }
}

@keyframes slide-up {
   from {
      transform: translateY(100%);
   }
   to {
      transform: translateY(0%);
   }
}